#workshops
  .header
    %h1 Workshops

  %h2
    %span.title Command Line
    %span.published 11/29/17

  %p
    %span.show-notes= string.html_safe
    %span.more= link_to 'Read more', workshops_path

  %p
    %span.bold Author:
    %span.creator.italic Luke Pfeiffer
