.page-body
  #about
    .header
      %h1.blue About Us

    .content
      .text-block
        %h1.sub-header what
        %span.sub-text
          This web application will be the store house for any workshop details that the
          %span.orange Association of Computer Engineer (ACE)
          decides to make availible. This will include the slides as well as personalized notes from the curator of the workshop
      .text-block
        %h1.sub-header who
        %span.sub-text
          The Association of Computer Engineers' Web Master chair decided to build this app using Ruby on Rails. Anyone who is a part of the association is be able to add their
          %span.orange workshop notes and slides!
      .text-block
        %h1.sub-header when
        .sub-text
          The show notes and slides should be availible within 24 hours of the workshop being presented. If not,
          %span.orange  put in a request to have them made availible!
      .text-block
        %h1.sub-header where
        %span.sub-text
          Most information from workshops will be found here. Feel free to checkout
          = link_to 'gatorace.org', 'https://gatorace.org', target: '_blank'
          to see more ACE content! The association does many other things besides workshops.
      .text-block
        %h1.sub-header why
        %span.sub-text
          This app was made so that
          %span.orange anyone who was unable to attend the workshop.
          Also, some people would like to see the slides longer and this app also provides those.
