/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */
#main{
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $body-size: 60%;

  height: 100%;
  text-align: center;
  font-family: $font;
  margin-left: 0;
  margin-right: 0;
  background-color: darken(#fff, 1%);

  .orange{
    color: $gator-orange;
  }

  .blue{
    color: $gator-blue;
  }

  .main-content{
    margin: 2em 0em;

    .header-image{
      img{
        width: 24%;
      }
    }

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  .page-content{
    margin-left: auto;
    margin-right: auto;
    width: $body-size;
    background-color: #fff;
  }

  .special{
    margin-right: auto;
    margin-left: auto;

    #main-header{
      background-color: #fff;
      margin: 0;
      padding: 1em;
      text-decoration: underline;
    }
  }

  .navigation{
    text-transform: uppercase;
    color: $dark-gray;
    .actions{
      margin-top: 3em;
      background-color: rgba(0, 50, 132, .85);
      padding: 1em;
      a{
        margin: 0;
        text-decoration: none;
        margin: 5px 10px;
        padding: 0 0 3px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 200;
        &:hover{
          border-bottom: 1px solid #fff;
        }
      }
    }
  }

  .pagination{
    $background-color: #D7DEF0;
    $font-color: #4D4D4D;
    padding-top: 1em;
    text-align: center;
    margin: 0 0 30px 0;
    a, .previous_page, .next_page, em{
      background-color: $background-color;
      text-decoration: none;
      color: $font-color;
      padding: 10px;
      border-radius: 4px;
      &:hover{
        background-color: darken($background-color, 8%);
      }
    }

    em, .disabled{
      background-color: darken($background-color, 10%);
    }
  }

  h1{
    font-size: 28px;
    font-weight: 200;
    a{
      text-decoration: none;
      color: $dark-gray;
      &:hover{
        color: lighten($dark-gray, 20%);
      }
    }
  }

  .footer {
    height: 100%;
    padding-bottom: 5em;
    .links {
      .social {
        padding: 1em 0;
        width: 98%;
        margin: 0 1em;
        float: left;
        border-top: 1px solid $soft-gray;
        border-bottom: 1px solid $soft-gray;

        li {
          list-style-type: none;
          float: left;
          font-size: 1.4em;
          padding-right: 0.7em;

          &:last-child {
            padding-right: 0;
          }
        }

        img {
          height: 1.6em;
          opacity: 0.7;
          padding: 1px;

          &:focus, &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }

  #workshops{
    text-align: left;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    .header{
      border-bottom: 1px solid $soft-gray;
      margin-bottom: 0;
    }
    h1{
      margin-left: 0;
    }
    h2{
      font-weight: 200;
    }
    .more a{
      color: $gator-blue;
      font-weight: bold;
      &:hover{
        color: darken($gator-blue, 7%);
      }
    }
    .published{
      float: right;
    }
    .creator{
      font-weight: 200;
    }
  }

  .page-body{
    background-color: darken(#fff, 2%);
    width: 100%;
  }

  #about{
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    text-align: left;
    .content{
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
    .header{
      h1{
        border-bottom: 1px solid $soft-gray;
      }
    }
    .text-block{
      height: 6.5em;
      padding: 1em 0.5em;
      &:hover{
        background-color: darken(#fff, 6%);
      }

      .orange{
        color: $gator-orange;
        &:hover{
          color: darken($gator-orange, 7%);
        }
      }

      .sub-header{
        color: $gator-orange;
        height: 2.8em;
        float: left;
        margin-right: 2em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        width: 4em;
      }
      .sub-text{
        color: $gator-blue;
        font-size: 18px;
        line-height: 25px;
        a{
          color: $gator-orange;
          &:hover{
            color: darken($gator-orange, 10%);
          }
        }
      }
    }
  }

  #contact{
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #fff;
    text-align: left;

    .header{
      h1{
        margin-left: 0;
        border-bottom: 1px solid $soft-gray;
      }
    }

    .text-block{

      h1{
        font-size: 24px;
      }
      ul{
        font-size: 20px;
        li{
          list-style-type: none;
          padding: 0.80em 0;
          .link a{
            color: $gator-blue;
            text-decoration: none;
            &:hover{
              color: darken($gator-blue, 8%);
            }
          }
          .email{
            color: lighten($gator-blue, 5%);
            &:hover{
             color: darken($gator-blue, 6%);
            }
          }
        }
      }
    }
  }

}
}
